* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url(Assets/Img/HeroImg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile {
  background-image: url(Assets/Img/profilepicture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.shadow-top {
  box-shadow: 0 -40px 150px rgba(0, 0, 0, 0.25);
}

.prod1 {
  background-image: url(Assets/Img/produto1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prod2 {
  background-image: url(Assets/Img/produto2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prod3 {
  background-image: url(Assets/Img/produto3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prod4 {
  background-image: url(Assets/Img/produto4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prod5 {
  background-image: url(Assets/Img/produto5.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.prod6 {
  background-image: url(Assets/Img/produto6.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.produto {
  transform: scale(1);
  transition: transform 0.3s ease;
  transition-delay: 50ms;
}

.produto:hover {
  transform: scale(1.05);
}

.botoesProd button {
  transition: transform 0.2s ease;
  transition-delay: 50ms;
}

.botoesProd button:hover {
  transform: translateY(-2px);
}
/* 
.previous svg{
    margin-left: 5px;
     transition: margin-left 0.2s ease;
}

.previous:hover{
    svg{
        margin-left: 0px;
    }
}

.next svg{
    margin-right: 5px;
     transition: margin-right 0.2s ease;
}

.next:hover{
    svg{
        margin-right: 0px;
    }
} */

.container {
  position: relative;
  --size-button: 40px;
  color: white;
}

.input {
  padding-left: var(--size-button);
  height: var(--size-button);
  font-size: 15px;
  border: none;
  color: #fff;
  outline: none;
  width: var(--size-button);
  transition: all ease 0.3s;
  background-color: #191a1e;
  box-shadow:
    1.5px 1.5px 3px #0e0e0e,
    -1.5px -1.5px 3px rgb(95 94 94 / 25%),
    inset 0px 0px 0px #0e0e0e,
    inset 0px -0px 0px #5f5e5e;
  border-radius: 50px;
  cursor: pointer;
}

.input:focus,
.input:not(:invalid) {
  width: 200px;
  cursor: text;
  box-shadow:
    0px 0px 0px #0e0e0e,
    0px 0px 0px rgb(95 94 94 / 25%),
    inset 1.5px 1.5px 3px #0e0e0e,
    inset -1.5px -1.5px 3px #5f5e5e;
}

.input:focus + .icon,
.input:not(:invalid) + .icon {
  pointer-events: all;
  cursor: pointer;
}

.container .icon {
  position: absolute;
  width: var(--size-button);
  height: var(--size-button);
  top: 0;
  left: 0;
  padding: 8px;
  pointer-events: none;
}

.container .icon svg {
  width: 100%;
  height: 100%;
}
